<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ERROR!</h4>
    <p><%= err.stack %> </p>
    <hr>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;" class="col-6 offset-3">
    <img  src="https://image.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg">

</div> 
 