@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Yanone Kaffeesatz', sans-serif;  
  font-family: 'Montserrat', sans-serif;
 
}
#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}
.nav-link {
  padding: 0.25rem 0;
  font-weight: 500;
  color: rgba(255,255,255,0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
  color: rgba(255,255,255,0.5);
  border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
  color: #333;
  text-shadow: none;
}

.jumbotron {
  background: linear-gradient(rgba(70, 70, 70, 0.35), rgba(70, 70, 70, 0.35)),
    url(https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d9df10d159cc11074d9a7996e8aca442&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-bottom: 0px;
}

.jumbotronText {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
}